ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleDisplayName = Wendy Agent
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities
INFOPLIST_KEY_LSUIElement = YES
INFOPLIST_KEY_NSPrincipalClass = NSApplication
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET = 15.0
MARKETING_VERSION = 1.0
PRODUCT_BUNDLE_IDENTIFIER = sh.wendy.WendyAgentMac
PRODUCT_MODULE_NAME = WendyAgentMac
PRODUCT_NAME = WendyAgentMac
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 6.0
