# /etc/udev/rules.d/99-usb-gadget-udc.rules

SUBSYSTEM=="udc", ACTION=="remove", TAG+="systemd", ENV{SYSTEMD_WANTS}+="wendyos-usbgadget-unbind.service"
